<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CineApp</title>
  </head>
  <body>
    <header>
      <h1>🎬 CineApp</h1>
    </header>

    <main>
      <p>catálogo de películas</p>
    </main>

    <footer>
      <p>el juego</p>
    </footer>
  </body>
</html>